# Data Science Tools and Ecosystem

## Introduction
In this notebook, I summarize some of the tools and techniques used in data science, including popular languages, libraries, and platforms. I will also include examples of simple arithmetic operations using code.

## Data Science Languages
Some of the commonly used languages in Data Science are:
- Python
- R
- SQL
- Java
- Julia

## Data Science Libraries
Some popular libraries used by data scientists include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Category          | Tool               |
|------------------|--------------------|
| IDE              | Jupyter Notebooks  |
| Data Integration | Apache NiFi        |
| Big Data         | Apache Hadoop      |
| Machine Learning | TensorFlow         |
| Visualization    | Tableau            |

## Arithmetic Expression Examples
Below are examples of arithmetic expressions in Python:
- Addition: `5 + 4`
- Multiplication: `3 * 7`
- Combination: `(10 + 5) * 2`

In [ ]:
(3 * 4) + 5

In [ ]:
minutes = 150
hours = minutes / 60
hours

In [ ]:
objectives = [
    "List popular languages used in data science",
    "List commonly used libraries",
    "Create tables using markdown",
    "Demonstrate simple arithmetic using code"
]
objectives

## Author
**Camila**